{%extends './base.html'%}

<!-- this is the page that shows all blog posts created -->
{% block title%}
<title>Main Feed</title>
{% endblock %}

{% block body %}
<!-- <div class=" text-center bg-primary py-3 text-white">
  <h1>My Practice Blog</h1>
</div> -->
<!-- <div class="text-center my-3">
  <button type="button" class=" text-dark btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <h2>
      + Add Post
    </h2>
  </button> -->
<div class=" container text-center my-3 py-3">
  <h2>
    Feed
  </h2>
</div>
{% for post in posts %}
<div class="card bg-primary text-white text-center py-1 my-4  mx-auto border border-dark rounded-3 shadow-lg  w-50 ">
  <div class="card-header border-dark">
    <div class="float-start pb-1">
      <small>
        <a class="text-white text-decoration-none" href="{%url 'home' post.user.id%}">{{post.user}} </a>
      </small>
    </div>
  </div>
  <div class="card-body py-3 text-start px-5">
    {{post.content}}
  </div>
  <div class="card-footer border-dark">
    <span class="float-end" style="font-size:10px;">
      {{post.pub_date}}
    </span>
  </div>
</div>
{% endfor %}
{% endblock %}